body {
    font-size: 12px;
    font-family: Verdana,Arial,sans-serif;
    text-align: center;
}

table {
    background: black;
    border-spacing: 1px;
}

th {
    font-size: 12px;
    font-weight: normal;
    background: black;
    color: white;
    padding: 10px;
}

td {
    font-size: 12px;
    background: white;
    padding: 10px;
}


.contents {
    align: center;
    display: inline-block;
}
